.UI{
    height: 100%;
    display: flex;
    background-color: #212121e6;
    .left-panal{
        overflow: hidden;
        transition: 0.2s ease-in-out;
        width: var(--width); 
    }
    .right-panal{
        width: calc(100% - var(--width));
    }
    .title{
        font-size: 32px;
        font-weight: bold;
    }
}